<div class="content-wrapper">

    <!-- /header -->
    <section 
      style="background-image: url('../../assets/img/photos/bg4.jpg');
    background-position: center center;
   background-size: cover;
   background-attachment: fixed;
   margin-top: 0;" >
        <div class="container pt-18 pb-16" style="z-index: 5; position:relative">
            <div class="row gx-0 gy-12 align-items-center">
                <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-6 content text-center text-lg-start">
                    <h1 class="display-2 mb-5 text-white">Crafting project specific solutions with expertise.</h1>
                    <p class="lead fs-lg lh-sm mb-7 pe-xl-10">We’re a creative company that focuses on establishing
                        long-term relationships with customers.</p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <span><a href="#" class="btn btn-lg btn-white rounded-pill me-2">Explore Now</a></span>
                        <span><a href="#" class="btn btn-lg btn-outline-white rounded-pill">Contact Us</a></span>
                    </div>
                </div>
                <!--/column -->
                <div class="col-lg-5 offset-lg-1">

                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/img/photos/about21.jpg" alt="First slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="../../assets/img/photos/about22.jpg" alt="Second slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="../../assets/img/photos/about23.jpg" alt="Third slide">
                          </div>
                        </div>
                      </div>
               
                    <!-- /.basic-slider -->
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>




   




    <!-- /section -->
    <section class="wrapper bg-gray">
        <div class="container py-14 pt-md-0 pb-md-16">

            <!-- /.row -->
            <div class="row text-center">
                <div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto">
                    <h2 class="fs-15 text-uppercase text-primary mb-3">Blog</h2>
                    <h3 class="display-4 mb-6">Check out some of our awesome projects with creative ideas and great
                        design.</h3>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="position-relative">
                <div class="shape bg-dot primary rellax w-17 h-20"  style="top: 0; left: -1.7rem;"></div>
                    <div class="item">
                        <div class="item-inner">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="../../assets/img/photos/b5.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <div class="card-footer text-muted">
                                    <ul class="post-meta d-flex mb-0">
                                        <li class="post-date"><i class="uil uil-calendar-alt"></i><span>14 Apr 2021</span></li>
                                        <li class="post-comments"><a href="#"><i class="uil uil-file-alt fs-15"></i>Coding</a></li>
                                      </ul>
                                  </div>
                              </div>     
                          
                            
                        </div>
                    </div>
              

        
                <!-- /.owl-carousel -->
            </div>
            
            <!-- /.position-relative -->
        </div>
        
        <!-- /.container -->
    </section>
    <!-- /section -->

</div>
<!-- /.content-wrapper -->

<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>